<p>fashion-client-style works!</p>
<h3 class="title">Fashion Style</h3>

<p class="error-message">{{errMessage}}</p>

<div class="container main-container">
  <div class="row">
    <div class="col-10">
      <select class="form-select style-select" [(ngModel)]="style">
        <option value="All Style">All Style</option>
        <option *ngFor="let s of styles">{{ s }}</option>
      </select>
    </div>
    <div class="col">
      <button class="btn fetch-btn" (click)="fashionsByStyle(style)">Get Fashions</button>
    </div>
  </div>

  <div class="container styles-container">
    <div class="row">
      <h4 class="subtitle">{{styleselected}}</h4>
      <div class="row">
        <div class="col-4" *ngFor="let fashion of selectedStyleFashions">
          <div class="card fashion-card" (click)="detailFashion(fashion._id)">
            <img src="{{fashion.fashion_image}}" class="card-img-top fashion-image">
            <div class="card-body">
              <h5 class="card-title">{{fashion.fashion_subject}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
